body {
    background-color: #ffe6eb;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}
